@{
    ViewData["Title"] = "Home Page";
}




<div class="IndexDiv">    
    <p><h1 class="text-center font-weight-bolder">Missing People Database</h1></p>
    <div class="row m-2">
    </div>
</div>
